{{#each json}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">{{this.key}}</p>
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.color}}</p>
        </div>
    </div>
{{/each}}